@font-face {
    font-family: nanum-myeongjo;
    src: url('/fonts/NanumMyeongjo-Regular.ttf');
}

html {
    font-family: nanum-myeongjo, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
