.bg-home-dark{
    --tw-bg-opacity: 1;
    background-color: rgba(239 68 68, var(--tw-bg-opacity));
  }

.bg-home-light{
    --tw-bg-opacity: 1;
    background-color: rgba(252 165 165, var(--tw-bg-opacity));
  }